@import url("../../../../index.css");
.header-wrapper {
    height: var(--header-height);
    border-bottom: solid 2px brown;
    /* sticky */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 99;
}

/* .header-wrapper:hover {
    cursor: pointer;
} */

.header-inner {
    display: flex;
    gap: 16px;
    align-items: center;
    margin: 0 16px;
    height: 100%;
}
.header-menu-btn {
    padding: 4px;
    border-radius: 4px;
    display: flex;
}
.header-menu-btn:hover {
    background-color: lightgray;
    cursor: pointer;
}
.header-logo {
    font-size: 18px;
    font-weight: 700;
    color: brown;
}
