@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    font-style: normal;
    src: local("Inter Bold"), local("Inter-Bold"),
        url("../assets/fonts/Inter-Bold.ttf") format("truetype");
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    src: local("Inter Regular"), local("Inter-Regular"),
        url("../assets/fonts/Inter-Regular.ttf") format("truetype");
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    src: local("Inter Medium"), local("Inter-Medium"),
        url("../assets/fonts/Inter-Medium.ttf") format("truetype");
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    src: local("Inter SemiBold"), local("Inter-SemiBold"),
        url("../assets/fonts/Inter-SemiBold.ttf") format("truetype");
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    src: local("Inter Light"), local("Inter-Light"),
        url("../assets/fonts/Inter-Light.ttf") format("truetype");
    font-display: swap;
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

:root {
    --sidebar-width: 240px;
    --header-height: 48px;
    --color-text-primary: brown;
    --dashboard-padding: 48px;
    --my-box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
}

button {
    @apply bg-secondary hover:bg-secondaryHover active:bg-secondaryActive font-bold py-2 px-4 rounded transition-colors text-white;
  }
  @layer components {
    .window {
      @apply rounded-lg bg-white drop-shadow-lg;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;
    }
    .content_window .content_window {
      @apply flex-grow;
    }
  }